{% extends "quotation/base.html" %}
{% load staticfiles %}

{% block content %}

    <!--

    csrf_token is needed here in order to avoid POST failure.
    name attribute for input component is necessary so that in it could be extracted from POST

    -->

    <form class="form-horizontal" action="/quotation/register/" method="post">
    {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="inputUsername">Username</label>

            <div class="controls">
                <input type="text" id="inputUsername" name="username" placeholder="Input username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword">Password</label>

            <div class="controls">
                <input type="password" id="inputPassword" name="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputPassword"></label>

            <div class="controls">
                <input type="password" id="inputPassword" placeholder="Retype Password">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputRealName">Real name</label>

            <div class="controls">
                <input type="text" id="inputRealName" name="realname" placeholder="Real name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputCellPhone">Cell phone</label>

            <div class="controls">
                <input type="text" id="inputCellPhone" name="cellphone" placeholder="Cell phone">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Email</label>

            <div class="controls">
                <input type="text" id="inputEmail" name="email" placeholder="Email">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="inputAddress">Address</label>

            <div class="controls">
                <input type="text" id="inputAddress" name="address" placeholder="Address">
            </div>

        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-large btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>

{% endblock %}